.App {
  text-align: center;
  background-color: #54181B;
  color: #94A0B3;
  font-weight: bold;
  min-height: 100vh;
  height: 100%;
}

.body {
  padding: 20px;
}

/* HEADER */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #94A0B3;
  color: #54181B;
  font-weight: bold;
  height: 86px;
}

.header .logo {
  height: 66px;
  padding: 10px;
}

.header .tabs {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding-right: 10px;
}

.header .tabs .tab {
  padding: 15px;
}

.header .tabs .tab.active {
  border-bottom: 3px solid #54181B;
}

/* END HEADER */

/* ENTERCODE */

.code-input input {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px 0px;
  margin: 4px;
  padding-left: 8px;
  width: 36px;
  height: 42px;
  font-size: 32px;
  box-sizing: border-box;
  color: #54181B;
  background-color: #94A0B3;
}

.submit {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  display: block;
  margin: 20px auto;
  background-color: #94A0B3;
  color: #54181B;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
}

.result {
  text-transform: uppercase;
  margin-top: 50px;
  margin-bottom: 0px;
}

.clue-card {
  margin-top: 50px;
  background-color: #94A0B3;
  color: #54181B;
  border-radius: 5px;
  padding: 10px;
  text-align: left;
}

.clue-card h1 {
  text-transform: uppercase;
  font-size: 48px;
  margin: 0 0 20px;
}

.clue-card h3 {
  text-transform: uppercase;
  font-size: 24px;
  border-top: 2px solid #54181B;
  padding: 10px 0;
  margin: 0;
}

.clue-card-row {
  display: flex;
  justify-content: space-between;
}

.clue-card-clue {
  text-align: right;
  padding-left: 10px;
  text-transform: capitalize;
}